TAK_Location.json
[
    {
        "id": "b29667e5e83d23e4",
        "type": "tab",
        "label": "TAK MQTT Location",
        "disabled": false,
        "info": "Converts MQTT JSON from Mikrotik device to CoT readable by TAK server.",
        "env": []
    },
    {
        "id": "55c2764999091619",
        "type": "mqtt in",
        "z": "b29667e5e83d23e4",
        "name": "",
        "topic": "v1/devices/mikrotik/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fc5b909d5e919829",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "fef6e15864e82e04",
                "2d684c3b35f3bb89"
            ]
        ]
    },
    {
        "id": "33084938be405ef4",
        "type": "debug",
        "z": "b29667e5e83d23e4",
        "name": "New JSON Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "b187469f437c29fd",
        "type": "tak",
        "z": "b29667e5e83d23e4",
        "name": "TAK",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "d6a30419df87b53f",
                "de1cec553f80476a"
            ],
            [],
            []
        ]
    },
    {
        "id": "d6a30419df87b53f",
        "type": "tcp out",
        "z": "b29667e5e83d23e4",
        "name": "",
        "host": "172.29.2.3",
        "port": "8087",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "de1cec553f80476a",
        "type": "debug",
        "z": "b29667e5e83d23e4",
        "name": "CoT as XML",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "fef6e15864e82e04",
        "type": "function",
        "z": "b29667e5e83d23e4",
        "name": "Convert to new format for TAK node",
        "func": "var lat=msg.payload.latitude\nvar lon=msg.payload.longitude\nvar id=msg.payload.sn\nvar alt=msg.payload.altitude\nvar callsgn=msg.payload.callsign\n\nconst cinco = 5 * 60 * 1000;\nconst diez = 2 * cinco;\nconst stale = new Date(Date.now() + diez).toISOString();\n\nvar newMsg;\n\nnewMsg = { payload: {\n    \"event\": {\n        \"_attributes\": {\n            \"version\": \"2.0\",\n            \"uid\": id,\n            \"type\": \"a-f-G-U-S-T-A-C\",\n            \"how\": \"m-p\",\n            \"time\": new Date(Date.now()).toISOString(),\n            \"start\": new Date(Date.now()).toISOString(),\n            \"stale\": new Date(Date.now()+500000).toISOString()\n        },\n        \"point\": {\n            \"_attributes\": {\n                \"lat\": lat,\n                \"lon\": lon,\n                \"hae\": alt,\n                \"ce\": \"9999999.0\",\n                \"le\": \"9999999.0\"\n            }\n        },\n        \"detail\": {\n            \"contact\": {\n                \"callsign\": callsgn\n            }\n        }\n    }\n}};\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "b187469f437c29fd",
                "33084938be405ef4"
            ]
        ]
    },
    {
        "id": "2d684c3b35f3bb89",
        "type": "debug",
        "z": "b29667e5e83d23e4",
        "name": "JSON from MQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "fc5b909d5e919829",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.17.0.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]